In [99]:
import pandas as pd

In [100]:
results = pd.read_csv("../data/results_not_cleaned.csv")

C:\Users\maria\AppData\Local\Temp\ipykernel_15376\2054255606.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  results = pd.read_csv("../data/results_not_cleaned.csv")

In [101]:
columns_to_keep = ["Games", "Event", "Pos", "As", "athlete_id", "NOC", "Discipline", "Medal"]
results = results[columns_to_keep]

In [102]:
results.loc[results["Medal"].isna(), "Medal"] = None

In [ ]:
results.rename(columns={
  col: col.lower() for col in columns_to_keep
}, inplace=True)

,games,event,pos,as,athlete_id,noc,discipline,medal
55830,1952 Summer Olympics,"Horse Vault, Women (Olympic)",=86,Maria Amorim,28970,POR,Artistic Gymnastics (Gymnastics),None
97299,1964 Summer Olympics,"4 × 200 metres Freestyle Relay, Men (Olympic)",4,John Ryan,45281,AUS,Swimming (Aquatics),None

In [104]:
results.drop_duplicates(inplace=True)
results.reset_index(drop=True, inplace=True)

In [105]:
results = results[results["pos"].notna()]
results = results[results["noc"].notna()]
results = results[results["discipline"].notna()]

In [106]:
results.reset_index(drop=True, inplace=True)

In [107]:
results["pos"] = results["pos"].str.replace("=", "").str.replace(r".0", "", regex=True)
results = results[
    results["pos"].isin(["DNF", "DNS"]) | 
    results["pos"].str.match(r'^\d+$')
]

In [116]:
results.reset_index(drop=True, inplace=True)

In [117]:
results.to_parquet("../data/results_cleaned.parquet")